<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>
                Doctores
            </h3>
        </div>
        <div class="card-body">
            <table id="tb-doctores" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctores">
                        <td>{{doctor.idDoctor}}</td>
                        <td>{{doctor.nombre}}</td>
                        <td>{{doctor.apellido}}</td>
                        <td>
                            <button (click)="Editar(doctor)" class="btn btn-outline-warning custom-control-inline">Editar</button>
                            <button (click)="Delete(doctor)" class="btn btn-outline-danger custom-control-inline">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>